html {
    margin: 0;
    padding: 0;
}
body {
    background: #000;
    color: #551A8B;
}
button {
}
#highScores {
    float: left;
    color: #551A8B;
}
#timer {
    float: right;
    color: #551A8B;
}