body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    background: #000;
}
.container {
    width: 30em;
    margin: auto;
    padding-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    color: #fff;
}
button {
    justify-content: space-between;
    margin-top: 2.5em;
    width: auto;
    height: 2.5em;
    border-radius: 50px;
    border-color: #551A8B;
    color: #fff;
    background: #551A8B;
    cursor: pointer;
    transition: all .4s;
    text-transform: uppercase;
}
button:hover {
    opacity: 0.85;
}
a {
    text-decoration: none;
}
header {
    font-size: 20px;
    color: #551A8B;
}
#highScores {
    float: left;
}
#timer {
    float: right;
}
#timeLeft {
    color: #dadada;
}